/* Configurações site */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow-x: hidden;
}

/* Header */

header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    padding: 0 20px;
}

.container-header .logo img {
    width: 180px;
}

.container-header .nav-header nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header nav li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.1rem;
    transition: all .2s ease-in-out;
    border-bottom: 3px solid transparent;
}

.nav-header nav li a span {
    text-transform: lowercase;
}

.nav-header nav li a:hover {
    border-bottom: 3px solid #ff0000;
}

.nav-header nav ul li:nth-child(6) a{
    border: 3px solid #ff0000;
    padding: 5px 15px;
    border-radius: 10px;
}

.nav-header nav ul li:nth-child(6) a:hover {
    color: #ff0000;
}

.btn-header a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ff0000;
    padding: 8px 30px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.btn-header a:hover {
    background-color: #b00101;
}

/* Main */
.banner {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image: linear-gradient(90deg, #26252bf1, #141418, #141418);
}

.banner img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    max-height: 740px;
    max-width: 1800px;
}

.container {
    margin: auto;
    width: 800px;
}

.titulo-atividades {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 80px 0;
}

.titulo-atividades h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

.titulo-atividades h2:nth-last-child(2) {
    position: absolute;
    font-weight: bold;
    font-size: 5rem;
    color: #ff0000;
    opacity: 0.3;
    z-index: -1;
    top: 43px;
}

